<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
</head>
<body>
    <h1>About Me :)</h1>

    <h2>Education</h2>
        <p>I'm an <strong>Information Systems</strong> senior at UMD. I'm in the <strong> Plus 1 Program. </strong></p>

    <h2>Career</h2>
    <p>I have worked at the <em>art studio</em> on campus. Over the past two summers I have interned in <em>consulting.</em></p>

    <h2>More info!</h2>

    <!-- Ordered List -->
    <p>Computer Languages that I know are below:</p>
    <ol>
        <li>Python</li>
        <li>R</li>
        <li>SQL</li>
    </ol>

    <!-- Unordered list -->
    <p>My hobbies are below:</p>
    <ul>
        <li>arts and crafts</li>
        <li>learning guitar</li>
        <li>watching tv</li>
    </ul>

    <h3>Course History</h3><table>
        <tr>
            <th>Class</th>
            <th>Semester</th>
        </tr>
        <tr><td>AREC 365 <td> Spring 2023</td></tr>
        <tr><td>BMGT 403 <td> Fall 2022</td></tr>
        <tr><td>BUDT 722 <td> Fall 2022</td></tr>
    </table>

    <h3>Links</h3>

    <p>This is the link to the <a href = "http://127.0.0.1:5000/hello">About Page</a> </p>

    <p>This is the link to the <a href = "https://tidal.com/" target = "_blank">Tidal website</a> </p>

    <p>This is the link to the <a href = "https://www.amazon.com/" target = "_blank">Amazon website</a> </p>
<!-- Smith Logo image goes here with the specific size -->
     <img src = "https://terpconnect.umd.edu/~jbono/bmgt407/images/smith-logo.png" alt = "Smith School logo" width="267" height="72"/>
</body>
</html>